/* Defining font parameters for custom fonts used */

@font-face {
	font-family: 'DIN2014WebBold';
	src: 
		url('fonts/DIN-2014_Bold.woff2') format('woff2'),
		url('fonts/DIN-2014_Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/*
- - - > |  @font-face  | < - - - 
*/
/* Klavika Web Basic Regular */
@font-face {
	font-family: 'KlavikaWebBasic';
	src: url('fonts/KlavikaWebBasicRegular.woff2') format('woff2'),
	     url('fonts/KlavikaWebBasicRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

/* Klavika Web Basic Regular Italic */
	@font-face {
	font-family: 'KlavikaWebBasic';
	src: url('fonts/KlavikaWebBasicRegularItalic.woff2') format('woff2'),
	     url('fonts/KlavikaWebBasicRegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	}

/* Klavika Web Basic Bold */
	@font-face {
	font-family: 'KlavikaWebBasic';
	src: url('fonts/KlavikaWebBasicBold.woff2') format('woff2'),
	     url('fonts/KlavikaWebBasicBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	}

/* Klavika Web Basic Bold Italic */
	@font-face {
	font-family: 'KlavikaWebBasic';
	src: url('fonts/KlavikaWebBasicBoldItalic.woff2') format('woff2'),
	     url('fonts/KlavikaWebBasicBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	}

/*
- - - > |  Font Classes  | < - - - 
*/
.KlavikaWebBasicRegular {
	font-family: 'KlavikaWebBasic';
	font-weight: normal;
	font-style: normal;
	}

.KlavikaWebBasicRegularItalic {
	font-family: 'KlavikaWebBasic';
	font-weight: normal;
	font-style: italic;
	}

.KlavikaWebBasicBold {
	font-family: 'KlavikaWebBasic';
	font-weight: bold;
	font-style: normal;
	}

.KlavikaWebBasicBoldItalic {
	font-family: 'KlavikaWebBasic';
	font-weight: bold;
	font-style: italic;
	}
