:root {
    --cardRadius: 16px;
    --cardPhotoHeight: 300px;
    --cardOffset: 20px;
    --cardWidth: 400px;
}

h1 {
    font-family: 'DIN2014WebBold';
}

p {
    font-family: 'KlavikaWebBasic';
}

body {
    margin-top: 100px;
}

.projectGrid {
    width: 100%;
    display: grid;
    grid-template-columns: [anchor0] 33.3% [anchor1] 33.3% [anchor2] 33.3% [anchor4];
}

.projectEntryDouble {
    grid-column-start: anchor0;
    grid-column-end: anchor2;
    width: calc(var(--cardWidth) + 50%);
    display: flex;
    position: relative;
    top: 0px;
    transition: top 0.2s;
    color: black;
    text-decoration: none;
    justify-self: center;
}

.projectEntryDouble > .projectImage {
    width: calc(100% - var(--cardOffset));
    height: calc(100% - var(--cardOffset));
    border-radius: var(--cardRadius);
    position: absolute;
    background-size: cover;
    z-index: 100;
}

.projectEntryDouble > .projectImage > .translucentLayer {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: var(--cardRadius);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 102;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.projectEntryDouble > .projectImage > img {
    width: calc(100% - var(--cardOffset));
    height: calc(100% - var(--cardOffset));
    border-top-left-radius: var(--cardRadius);
    border-bottom-right-radius: var(--cardRadius);
    margin-top: var(--cardOffset);
    margin-left: var(--cardOffset);
    position: absolute;
    object-fit: cover;
    z-index: 150;
}

.projectEntryDouble:hover {
    top: 2px;
}

.projectEntryDouble > .projectText {
    z-index: 200;
    background-color: white;
    position: absolute;
    margin-left: calc(100% + var(--cardOffset) - var(--cardWidth));
    border-radius: var(--cardRadius);
    /*margin-top: var(--cardPhotoHeight);*/
    width: calc(var(--cardWidth) - var(--cardOffset));
}


.projectEntry {
    width: var(--cardWidth);
    display: flex;
    position: relative;
    top: 0px;
    transition: top 0.2s;
    color: black;
    text-decoration: none;
    justify-self: center;
}

.projectEntry:hover {
    top: 2px;
}

.projectEntry > .projectImage {
    width: calc(100% - var(--cardOffset));
    height: var(--cardPhotoHeight);
    border-radius: var(--cardRadius);
    position: absolute;
    background-size: cover;
    z-index: 100;
}

.projectEntry > .projectImage > .translucentLayer {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: var(--cardRadius);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 102;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.projectEntry > .projectImage > img {
    width: calc(100% - var(--cardOffset));
    height: calc(var(--cardPhotoHeight) - var(--cardOffset));
    border-top-left-radius: var(--cardRadius);
    border-bottom-right-radius: var(--cardRadius);
    margin-top: var(--cardOffset);
    margin-left: var(--cardOffset);
    position: absolute;
    object-fit: cover;
    z-index: 150;
}

.projectCard {
    width: calc(100% - var(--cardOffset));
    height: calc(100% - var(--cardOffset));
    position: absolute;
    left: var(--cardOffset);
    top: var(--cardOffset);
    background-color: white;
    border-radius: var(--cardRadius);
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,.25));
    z-index: 1;
}

.projectText {
    z-index: 10;
    margin-top: var(--cardPhotoHeight);
    margin-left: var(--cardOffset);
    width: 100%;
}

.projectText > h1 {
    margin: 12px;
    margin-left: var(--cardOffset);
    margin-right: var(--cardOffset);
    font-family: "DIN2014WebBold";
}

.projectText > p {
    margin: -8px;
    margin-left: var(--cardOffset);
    margin-right: var(--cardOffset);
    margin-bottom: var(--cardOffset);
    font-family: 'KlavikaWebBasic';
    color: rgba(0,0,0,.5);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

@font-face {
	font-family: 'DIN2014WebBold';
	src: 
		url('fonts/DIN-2014_Bold.woff2') format('woff2'),
		url('fonts/DIN-2014_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*
- - - > |  @font-face  | < - - - 
*/
/* Klavika Web Basic Regular */
@font-face {
	font-family: 'KlavikaWebBasic';
	src: url('fonts/KlavikaWebBasicRegular.woff2') format('woff2'),
	     url('fonts/KlavikaWebBasicRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	}

/* Klavika Web Basic Regular Italic */
	@font-face {
	font-family: 'KlavikaWebBasic';
	src: url('fonts/KlavikaWebBasicRegularItalic.woff2') format('woff2'),
	     url('fonts/KlavikaWebBasicRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	}

/* Klavika Web Basic Bold */
	@font-face {
	font-family: 'KlavikaWebBasic';
	src: url('fonts/KlavikaWebBasicBold.woff2') format('woff2'),
	     url('fonts/KlavikaWebBasicBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	}

/* Klavika Web Basic Bold Italic */
	@font-face {
	font-family: 'KlavikaWebBasic';
	src: url('fonts/KlavikaWebBasicBoldItalic.woff2') format('woff2'),
	     url('fonts/KlavikaWebBasicBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	}

/*
- - - > |  Font Classes  | < - - - 
*/
.KlavikaWebBasicRegular {
	font-family: 'KlavikaWebBasic';
	font-weight: 400;
	font-style: normal;
	}

.KlavikaWebBasicRegularItalic {
	font-family: 'KlavikaWebBasic';
	font-weight: 400;
	font-style: italic;
	}

.KlavikaWebBasicBold {
	font-family: 'KlavikaWebBasic';
	font-weight: 700;
	font-style: normal;
	}

.KlavikaWebBasicBoldItalic {
	font-family: 'KlavikaWebBasic';
	font-weight: 700;
	font-style: italic;
	}
