
* {
    margin: 0;
    padding: 0;
}

/* Setting base fonts for headers and paragraph elements*/
h1 {
    font-family: 'DIN2014WebBold';
    font-size: 48pt;
}

p {
    font-family: 'KlavikaWebBasic';
}

body {
    margin: 0;
    margin-top: 100px;
}

:root {
    background-image: linear-gradient(rgb(240, 233, 243), rgb(170, 160, 212));
}
